.test-details {
  font-size: 90% !important;
  .invites-bg {
    border: solid 1px #1a1746;
    color: #1a1746;
  }
  .new-test {
    .card {
      .card-body {
        padding: 150px;
      }
    }
  }
  .card {
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(102, 102, 102, 0.13);
    .card-body {
      .card-text {
        .question {
          margin: 0;
        }
        ul {
          padding-left: 10px;
          li {
            list-style: none;
          }
        }
        .pages {
          li {
            display: inline-block;
            padding: 3px 10px;
            border: solid 1px #1d1d1c1f;
            margin-right: 10px;
            cursor: pointer;
            &.active {
              background: #1a1746;
            }
          }
        }
      }
    }
  }
  a {
    cursor: pointer ;
  }
  .candidates {
    table {
      thead {
        tr {
          height: 50px;
          box-shadow: 4px 4px 9px 0 #eae7e7;
          font-weight: bold;
          font-size: 12px;
        }
      }
      tbody {
        tr {
          height: 56px;
          opacity: 0.8;
          font-size: 13px;
          background-color: #f6f9fc;
          box-shadow: 4px 4px 9px 0 #eae7e7;
          td {
            .link {
              cursor: pointer;
              width: 100%;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .modal-body {
    .form-group {
      .container {
        position: relative;
        .checkmark {
          position: absolute;
          bottom: 6px;
          right: 10px;
        }
      }
    }
  }
}