.candidates {
  table {
    thead {
      tr {
        height: 50px;
        box-shadow: 4px 4px 9px 0 #eae7e7;
        font-weight: bold;
        font-size: 12px;
      }
    }
    tbody {
      tr {
        height: 56px;
        opacity: 0.8;
        font-size: 13px;
        background-color: #f6f9fc;
        box-shadow: 4px 4px 9px 0 #eae7e7;
        td {
          .link {
            cursor: pointer;
            width: 100%;
            text-decoration: underline;
          }
        }
      }
    }
  }
}